<header>
  <img
    src="/assets/img/giovani.png"
    alt="Foto de Giovani"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Giovani de Oliveira</h1>
</header>

<aside>
  <div class="container">
    <p>Fullstack Developer | .NET | React | TypeScript</p>
    <p>Hortolândia, São Paulo, Brasil</p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident
      dolores optio officiis alias quia, libero quo excepturi tenetur doloremque
      harum suscipit animi.
    </p>

    <nav>
      <ul>
        <li>
          <a
            href="https://www.linkedin.com/in/giovani-o/"
            class="btn btn-primary"
            target="_blank"
          >
            Currículo
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/giovani-o/"
            class="btn btn-secondary"
            target="_blank"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="/assets/icons/whatsapp.svg"
          alt="Ícone de Whatsapp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="#">
            <strong>Evie uma mensagem para</strong>
            <p>WhatsApp: (19) 99999-9999</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="/assets/icons/mail.svg"
          alt="Ícone de e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="#">
            <strong>Evie um e-mail para:</strong>
            <p>giovani&#64;portfolio.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
