:root {
  --primary-600: #4f46e5;
  --primary-700: #4338ca;

  --secondary-600: #7c3aed;
  --secondary-700: #6d28d9;

  --white-300: #cbd5e1;
  --white-500: #64748b;
  --black: #020617;
  --grey-950: #0f172a;
  --grey-900: #1e293b;
}